*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{
    height: 70px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10px;
    width: 100%;
}
.header-logo{
    float: left;
}
.header-logo h1{
    letter-spacing: 10px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}
.header-list{
    float: right;
}
.header-list li{
    list-style: none;
    float: left;
    padding-right: 20px;
    padding-top: 25px;
}

.menu-icon {
    color: white;
    float: right;
    display: none;
}

.menu1{
    color: white;
    font-size: 14px;
    opacity: 0.7;
    margin-right: 2px;
    text-decoration: none;
}
.menu1:hover{
    opacity: 1;
    transition: 0.1s;
    border: black solid 2px;
    text-decoration: none;
}
.menu2{
    color: white;
    font-size: 14px;
    opacity: 0.7;
    margin-right: 0px;
    text-decoration: none;
}
.menu2:hover{
    opacity: 1;
    transition: 0.1s;
    border: black solid 2px;
    text-decoration: none;
}
.top-wrapper{
    margin-top: 50px;
    text-align: center;
    color: white;
    padding-top: 30px;
    height: 720px;
    background-image: url(https://cdn.discordapp.com/attachments/763326081377107980/766257560062918666/food-2972974_1280.jpg);
    background-size: cover;
}
.top-wrapper h1{
    letter-spacing: 15px;
    font-size: 50px;
    text-shadow: 2px 3px 1px black;
}
.top-wrapper h3{
    font-family: "Comic Sans MS", cursive;
    font-size: 85px;
    letter-spacing: 10px;
    font-weight: light;
    padding-bottom: 80px;
    margin-bottom: 200px;
    text-shadow: 2px 3px 1px black;
}

.top-wrapper p {
    margin-top: 50px;
    color: blue;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: bold;
    background-color: white;
    opacity: 0.8;
}

.top-wrapper p:hover {
    opacity: 1;
    font-size: 50px;
    color: black;
    cursor: pointer;
}

.contact-item {
    background-color: grey;
    height: 700px;
}

.island {
    width: 50%;
}

.java {
    text-align: center;
    float:left;
}

.java h3 {
    margin-bottom: 9px;
    font-family: 'Courier New';
}

.java li {
    padding-bottom: 5px;
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: cursive;
}

.outside-java {
    text-align: center;
    float: right;
}

.outside-java h3{
    margin-bottom: 9px;
    font-family: 'Courier New';
}

.outside-java li {
    padding-bottom: 5px;
    list-style: none;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: cursive;
}

footer{
    height: 180px;
    background-color: #E6E6E6;
}
.footer-list{
    float: right;
}
.footer-list li{
    padding-bottom: 10px;
    list-style: none;
    padding-right: 40px;
    font-size: 18px;
    padding-top: 13px;
    letter-spacing: 2px;
    color: black;
    text-align: right;
    text-decoration: none;
}
.list{
    margin-top: 10px;
}
.list-link{
    color: black;
    opacity: 0.7;
    text-decoration: none;
}
.list-link:hover{
    opacity: 1;
    transition: 0.1s;
    border: black solid 2px;
    text-decoration: none;
}
.medsos-title{
    color: black;
    padding-left: 12px;
    padding-top: 10px;
    text-align: left;
    letter-spacing: 2px;
    opacity: 0.7;
    padding-bottom: 20px;
}
.logo{
    padding-left: 25px;
    padding-top: 20px;
}
.ig{
    height: 40px;
    width: 40px;
    margin-left: 35px;
    opacity: 0.7;;
}
.ig:hover{
    opacity: 1;;
    transition: 0.5s;
}
.fb{
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
.fb:hover{
    opacity: 1;
    transition: 0.5s;
}
.tweet{
    height: 40px;
    width: 40px;
    padding-right: 15px;
    opacity: 0.7;
}
.tweet:hover{
    opacity: 1;
    transition: 0.5s;
}